/**** MAIN-STYLES ****/
:root {
--color-1: hsl(0, 0%, 100%);  /** White **/
--color-2:hsl(275, 100%, 97%); /** White **/
--Grayish-purple: hsl(292, 16%, 49%); /** Grayish purple **/
--Dark-purple: hsl(292, 42%, 14%);
--Font-size-paragraphs:16px; 
--Font-Family: [Work Sans](https://fonts.google.com/specimen/Work+Sans);
--Weights: 400, 600, 700;
}

* {
  margin: 0;
  padding: 0;
}

/**** BOX-STYLES ****/
#container {
  background-color: var(--color-2);
  display: grid;
  place-items: center;
}

#heading-section {
  padding-top: 25px;
  padding-bottom: 25px;
}

#main-content {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--color-1);
  border: 2px solid black;
  border-radius: 3em;
  width: 600px;
}

#bottom-content {
  padding-top: 25px;
}

/**** FOOTER-STYLES ****/
footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
}

/** MEDIA QUERIES **/
/*Mobile
@media screen and (min-width: 375px) {


  #heading-section {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #main-content {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
  }

  #bottom-content {
    padding-top: 25px;
  }
}

/*Desktop*/
@media screen and (max-width: 1440px) {}

